<div class="row">
  <div class="col-12 text-center">
    <h1><%= @user.name %>さんのプロフィール</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-4">
          NO IMAGE
        </div>
        <div class="col-8">
          <div class="card-body">
            <div class="cart-title">
              <%= @user.name %>(<%= @user.department.anagram %>)
            </div>
            <div class="cart-text">
              <%= @user.department.name %>部
            </div>
            <div class="cart-text">
              <%= @user.email %>
            </div>
            <div class="text-right <%= "d-none" unless @user == current_user %>">
              <%= link_to 'プロフィールを編集', edit_user_path(@user), class: 'btn btn-primary' %>
            </div>
            <div class="text-right <%= "d-none" unless current_user.admin? && !current_user?(@user) %>">
              <%= link_to 'データベースから削除', @user, method: :delete, data: {confirm: t('label.destroy_confirm')}, class: 'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12 text-right">
    <%= link_to 'ユーザーの一覧に戻る', users_path, class: 'btn btn-secondary' %>
  </div>
</div>
