<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if request.path.include?("admin")  %>
      <%= render 'layouts/admin_header' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <br>
    <div id="wrapper" class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <br>
    <% if request.path.include?("admin")  %>
      <%= render 'layouts/admin_footer' %>
    <% else %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
